* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

main {
    overflow: hidden;
}

/* header part style */
header {
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

.header-container {
    padding-right: 230px;
    padding-top: 180px;
    text-align: right;
}

.heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.heading-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.heading-line-height {
    margin-top: 10px;
}

.primary-btn {
    background: #F15B22;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.contact-btn {
    margin-top: 28px;
}

/* about me part style */
.about-me-container {
    padding: 150px 220px 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-details>h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-details>p {
    font-size: 20px;
    line-height: 30px;
    color: #737272;
    padding-right: 90px;
}

.about-me-info {
    margin-top: 20px;
}

.about-me-info p {
    font-size: 18px;
    margin-top: 12px;
}

.about-btn {
    margin-top: 20px;
}
.about-img img{
    border-radius: 12px;
}

/* failure-part-style */

.failure-container {
    padding: 0 220px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.fail-cause {
    padding-left: 70px;
}

.fail-info>h2 {
    font-size: 40px;
    font-weight: 700;
}

.fail-description {
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-points p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.fa-check {
    color: #F15B22;
}

/* my plan area styles */
.my-plan-container {
    margin: 50px 0;
    padding: 0 220px;
}

.plan-heading {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plan-items {
    display: flex;
    justify-content: space-between;
}

.plan-title {
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;
}

.plan-text {
    font-weight: 500;
    font-size: 18px;
    color: #737272;
}

/* positive part styles */
.positive-container {
    background-image: url("./images/watch.png"), url("./images/gradient/gradient3.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-blend-mode: multiply;
    margin: 100px  220px  0 220px;
}

.positive-text {
    padding: 35px;

}

.positive-text>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
}

.call-btn {
    margin-top: 15px;
    background-color: #fff;
    color: #F15B22;
}

/* footer area style */
.footer-container {
    background: #151414;
    color: white;
    margin-top: 100px;
    padding: 100px 220px;
    display: flex;
    justify-content: space-evenly;
}

.future {
    padding-right: 400px;
}

.future>h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}

.future>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.social-img img {
    margin-right: 10px;
}

.subscribe>h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 35px;
}

.subscribe input {
    width: 325px;
    height: 64px;
    background: #151414;
    text-decoration: none;
    border: white solid;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
}

.submit-btn {
    margin-top: 30px;
    background: white;
    color: #F15B22;
}